.breadcrumbs {
  margin: 1rem 0;
}

.breadcrumbs__item {
  position: relative;
  margin: 0 0.5rem;
  color: #000;

  & + &:before {
    position: absolute;
    content: '/';
    left: -10px;
    color: #000;
  }
}
