<div class="course-list">
  <app-search
    (searchButtonClicked)="onSearchButtonClicked($event)"
    (addCourseButtonClicked)="onAddCourseButtonClicked()"
  ></app-search>
  <app-course-item
    *ngFor="let course of courses"
    [course]="course"
    (courseDeleted)="onCourseDeleted($event)"
    (courseEditClicked)="onCourseEditClicked($event)"
  ></app-course-item>
  <div class="course-no-data">
    <p class="course-no-data-text" *ngIf="!courses.length">No data. Feel free to add new course.</p>
  </div>
  <button class="button button_blue button-load-more" (click)="onLoadMoreButtonClick()">Load more</button>
</div>
