<div class="course-item" [appCourseBorder]="course?.creationDate">
  <div class="course-item__content course-content">
    <div class="course-content__header">
      <h2 class="course-content__title" [ngClass]="{ 'course-content__title_top-rated': course?.topRated }">
        {{ course?.title | uppercase }}
      </h2>
      <span class="course-content__duration">{{ course?.duration | duration }}</span>
      <span class="course-content__date">{{ course?.creationDate | date: 'MM.dd.yyyy' }}</span>
    </div>
    <div class="course-content__description">{{ course?.description }}</div>
  </div>
  <div class="course-item__controls">
    <button class="button button_blue">Edit</button>
    <button class="button button_blue" (click)="onDeleteClick()">Delete</button>
  </div>
</div>
