@import 'src/styles/mixins';

.header {
  @include gradient-bg;

  color: #fff;

  &__container {
    margin: 0 2rem;
    height: 100%;
  }
  .top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .top-header__logo {
    height: 5rem;
    display: flex;
    align-items: flex-end;
  }
  .header-logo {
    &__img {
      height: 100%;
    }
    &__title {
      font-size: 2rem;
      margin-bottom: 0.5rem;
      color: #fff;
    }
  }
  .top-header__user {
    margin-right: 1rem;
  }
}
