<header class="header">
  <div class="header__container">
    <div class="top-header">
      <div class="top-header__logo">
        <img class="header-logo__img" src="assets/img/header-logo.png" alt="logo" />
        <span class="header-logo__title">courses</span>
      </div>
      <div class="top-header__controls" *ngIf="loggedInUser">
        <span class="top-header__user">{{ userName }}</span>
        <button class="button button-log-off" type="button" (click)="onLogOffClick()" [translate]="'LOG_OFF'"></button>
      </div>
      <div class="top-header__controls" *ngIf="!loggedInUser">
        <button class="button button-log-in" type="button" [routerLink]="'/login'">Log In</button>
      </div>
    </div>
    <app-breadcrumbs *ngIf="loggedInUser" [breadcrumb]="breadcrumb"></app-breadcrumbs>
  </div>
</header>
