<mat-card class="login-card">
  <mat-card-title class="login-card__title">Login</mat-card-title>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login-card__form">
      <mat-form-field class="login-card__field">
        <input class="login-card__login" matInput placeholder="Login" formControlName="login" />
      </mat-form-field>
      <mat-form-field class="login-card__field">
        <input class="login-card__password" matInput placeholder="Password" formControlName="password" />
      </mat-form-field>
    </div>
    <button class="login-card__button" type="submit" mat-raised-button color="primary">Login</button>
  </form>
</mat-card>
