@import 'src/styles/variables';
@import 'src/styles/mixins';

.body {
  @include reset;
  background-color: $bg;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.link {
  text-decoration: none;
  color: #000;

  &:hover {
    color: lighten(#000, 25%);
  }

  &:active {
    color: #000;
  }
}

.page {
  @include reset;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &__content {
    flex: 1;
  }
}

.input,
.button {
  @include box-shadow;
  @include reset;
  background-color: #fff;
  border-radius: 4px;
  line-height: 2rem;
  outline: 0;
  border: none;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}

.button {
  color: #000;
  user-select: none;
  cursor: pointer;
  min-width: 4rem;
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover:not([disabled]) {
    background: darken(#fff, 5%);
  }

  &:active {
    box-shadow: none;
  }

  &_blue {
    background-color: $blue;
    color: #fff;

    &:hover:not([disabled]) {
      background: darken($blue, 15%);
    }
  }

  &_pink {
    background-color: $pink;
    color: #fff;

    &:hover:not([disabled]) {
      background: darken($pink, 10%);
    }
  }
}

::placeholder {
  color: rgba(0, 0, 0, 0.25);
  opacity: 1; /* Firefox */
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
